.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container img{
  max-width: 150px;
  height: auto;
}

.navigation {
  width: 50%;
}

.navigation ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.search{
  padding-bottom: 30px;
    text-align: center;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.card-container .card{
  max-width: 300px;
  border: 1px solid black;
  margin: 0 10px;
  padding: 10px;
}
.card-container .card img{
  width: 100%;
}